body {
    background-color: #9CEE59;
    color: black;

}

body a {
    color: #999999;
}

#kulso {
    width: 980px;
    border-spacing: 0px;
    background-color: #509050;
    margin: auto;
    width: 50%;
    padding: 10px;
}

#belso {
    width: 940px;
    margin: auto;
    width: 50%;
    padding: 10px;
    background-color: white;
    border-spacing: 1px;
}

#fekete {
    height: 40px;
    background-color: black;
    color: white;
}

h1 {
    text-align: left;
}

li {
    text-align: left;
}

#gyomlalas {
    float:right;
    margin-left: 5px;
    margin-right: 5px;
    border: solid 1px black;
}

p {
    text-align: left;
}

li:first-child {
    font-weight: bolder;
}